fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt
pydantic
email-validator
PyMuPDF
sentence-transformers
scikit-learn
numpy
pandas
python-docx
pytest
httpx